<%= form_with model:[book, book_comment], data: {remote: true} do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'3', class: "form-control" %>
    </div>
  </div>
  <%= f.submit "送信する" %>
<% end %>